<div class="nav">

    <h1 class="roku">Roku</h1>
    <ul>
      <li>
        <a href="/kids">Kids</a>
      </li>

      <li>
        <a href="#">Logout</a>
      </li>
    </ul>
</div>

<div class="vidHeader">

  <h1>{{title}}</h1>
  <p>{{stars}}</p>
  <p class="desc">{{desc}}</p>

</div>



<button id="1" class="deleteRecord">Delete a row</button>
<button id="1" class="getButton">Run Ajax</button>
<button id="2" class="getButton">Run Ajax</button>
<button id="3" class="getButton">Run Ajax</button>

      <ul  class="vidScroll">
        {{#each thumb}}
        <h2>{{genre_name}}</h2>
        <li class="thumbs">
        <a class="getButton" href="/api/{{movie_id}}"> <img class="videos" src="images/{{movie_thumb}}" alt="mini" /></a>
        </li>

        {{/each}}
      </ul>





<footer class="nav">
  <h1 class="roku">Roku</h1>
  <ul>
    <li>
      <a href="/kids">Kids</a>
    </li>

    <li>
      <a href="#">Logout</a>
    </li>
  </ul>
</footer>
