<div class="nav">

    <h1 class="roku">Roku</h1>
    <ul>
      <li>
        <a href="/kids">Kids</a>
      </li>

      <li>
        <a href="#">Logout</a>
      </li>
    </ul>
</div>

<div class="vidHeader">

  <h1>{{title}}</h1>
  <p>{{stars}}</p>
  <p class="desc">{{desc}}</p>

</div>



<button id="1" class="deleteRecord">Delete a row</button>
<button id="1" class="getButton"><img class="play" src="images/play.png" alt=""></button>
<button id="2" class="getButton"><img class="play" src="images/play.png" alt=""></button>
<button id="3" class="getButton"><img class="play" src="images/play.png" alt=""></button>
<button id="4" class="getButton"><img class="play" src="images/play.png" alt=""></button>
<button id="5" class="getButton"><img class="play" src="images/play.png" alt=""></button>
<button id="6" class="getButton"><img class="play" src="images/play.png" alt=""></button>
<button id="7" class="getButton"><img class="play" src="images/play.png" alt=""></button>
<button id="8" class="getButton"><img class="play" src="images/play.png" alt=""></button>
<button id="9" class="getButton"><img class="play" src="images/play.png" alt=""></button>
<button id="10" class="getButton"><img class="play" src="images/play.png" alt=""></button>
<button id="11" class="getButton"><img class="play" src="images/play.png" alt=""></button>
<button id="12" class="getButton"><img class="play" src="images/play.png" alt=""></button> 

      <ul  class="vidScroll">

        {{#each thumb}}

        <h2>{{genre_name}}</h2>
        <li class="thumbs">
        <a class="getButton" href="/api/{{movie_id}}"> <img class="videos" src="images/{{movie_thumb}}" alt="video thumbnail" /></a>
        </li>

        {{/each}}
      </ul>




<footer class="nav">
  <h1 class="roku">Roku</h1>
  <ul>
    <li>
      <a href="/kids">Kids</a>
    </li>

    <li>
      <a href="#">Logout</a>
    </li>
  </ul>
</footer>
