<a href="/">
  HOME
</a>
<h1>{{title}}</h1>
<ul>
  {{#each movie}}
  <li>
    <h4 class="fade">{{movie_title}}</h4>

    <img class="fade" src="../images/{{movie_stars}}" alt="Thumbnail" />

    <p class="fade">{{movie_desc}}</p>

    <video class="player" controls src="../movies/{{movie_video}}" poster="../images/{{movie_thumb}}"></video>
  </li>

  {{/each}}
</ul>
